<app-menu [value]="v"></app-menu>
<img *ngIf="wait" src = "assets/images/app/background/wait.gif" style=" position: relative; width: 100%; height:100%;">
    <ion-content>
        
        <ion-card>
            <ion-grid>
                
                   
                   
                <ion-col size="12"   >
                    <ion-row size="3">
                        <ion-col size="8"  >
                           <div class="play-ground" *ngIf="!timer">
                            <div class="tlbar" >
                                Records
                            </div>
                            <div class="rankInfo">
                                <table>
                                   <tr>
                                       <th>Date</th><th>User</th><th>Time</th>
                                   </tr>
                                   <tr *ngFor="let data of userList">
                                       <td>
                                         {{data.date}}
                                       </td>
                                       <td>
                                         {{data.name}}
                                       </td>
                                       <td>
                                         {{data.time}}
                                       </td>
                                   </tr>
                                </table>
                             </div>
                               
                            </div>
                        </ion-col>
                        <ion-col size="4"  >
                            <app-image ></app-image>
                        </ion-col>
                    </ion-row >
                    <ion-row size="9"  class="play-ground" >
                        <ion-col size="1"  >
                            
                         </ion-col> 
                         <ion-col size="10"  >
                            <app-play-ground [value]="image"></app-play-ground>
                         </ion-col>
                         <ion-col size="1"  >
                            
                         </ion-col>  
                    </ion-row>
                </ion-col>
            </ion-grid>
        </ion-card>
        </ion-content>
